/* Typography Ckasses */

.font-roboto {
    font-family: $font-roboto;
}

.font-montserrat {
    font-family: $font-montserrat;
}

.font-size12 {
    font-size: 12px;
}

.font-size14 {
    font-size: 14px;
}

.font-size16 {
    font-size: 16px;
}


.font-size20 {
    font-size: 20px;
}